body {
    font-family: harrington, sans-serif;
    font-color: black;
    background-color: rgb(110, 229, 110);
}
.row-container {
    display: flex;
    justify-content: center;
    gap:20px;
}
.row-container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
} 
.row-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}
.row-container3 img {
    width: 300px;
    height: auto;
    margin-bottom: 40px;
    gap: 20px;
}
.row-container img {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
    gap: 20px;
}
.row-container2 img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    gap: 40px;
}
h1 {
    text-align: center;
    font-size: 32px;
}
p {
    font-size: 25px;
    text-align: center;
}

.home-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}

.yellow-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}.pink-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}.blue-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}
.yarn-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.needles-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}   
.accessories-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.blue-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.yellow-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pink-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.yarn-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}
.needle-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}
.acc-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}
.metal-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}
.wooden-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}   
.back-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
}   
.metal-needles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}   
.wooden-needles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
