body {
    font-family: harrington, sans-serif;
    font-color: black;
    background-color: rgb(110, 229, 110);
}
.row-container {
    display: flex;
    justify-content: center;
    gap:20px;
}

.card {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    text-align: center;
}

.card img {
    width: 250px;
    height: auto;
    margin-bottom: 10x;
}
.row-container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
} 

.row-container2 img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}
