body {
    font-family: harrington, sans-serif;
    font-color: black;
    background-color: #87d881;
    button-color: #5faa59;
}
h1 {
    text-size:24px;
}
p { 
    text-size:18px;
}
.row-container {
    display: flex;
    justify-content: center;
    gap:20px;
}

.card {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    text-align: center;
}

.card img {
    width: 500px;
    height: 500px;
    margin-bottom: 10x;
}



