body {
    font-family: harrington, sans-serif;
    font-color: black;
    background-color: rgb(110, 229, 110);
    font-size: 2rem;

}
.row-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 75%;
    gap: 20px;
    padding-left: 120px;

}
.row-container2 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 20px;
} 
.row-container3 {
    display: flex;
    max-width: 100%;
    width: 50% ;
    justify-content: center;
    align-items: center;
    gap: 75px;
    
}
.row-container3 img {  
    width: 300px;  
    height: auto;
    margin-bottom: 40px;
    gap: 10px;
    
    
}
.row-container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row-container img {
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    gap: 20px;
    padding-left: 30px;
    padding-top: 40px;
}
.row-container2 img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    gap: 40px;
}
h1 {
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 30px;
}
p {
    font-size: 1.2rem;
    text-align: center;
}

.home-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}

.yellow-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;

}.pink-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.blue-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.yarn-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.needles-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}   
.accessories-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.blue-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.yellow-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pink-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.yarn-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.needle-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.acc-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.metal-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.wooden-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}   
.back-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}   
.metal-needles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 200px;
}   
.wooden-needles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 300px;
}
.needles-dir-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}

.yarn-dir-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.acc-dir-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.row-container4 img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    gap: 20px;
}   
.scissors-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.measuring-tape-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}
.stitch-markers-atc {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}

.scissors {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}   
.measuring-tape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.stitch-markers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.checkout {
    align-self: center;
    align-items: center;
    flex: right;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    font-size: 1rem;
}   
.nav-buttons {
    justify-content: center;
    align-items: center;
    padding: 0;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}.form-group input {
    padding: 10px;
    font-size: 1rem;
    width: 200px;
}
.log-dir-btn {
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(62, 129, 62);
    border: none;
    margin-top: auto;
    color: white;
    font-size: 1rem;
    font-family: harrington, sans-serif;
}   