body {
    font-family: harrington, sans-serif;
    font-color: black;
    background-color: rgb(110, 229, 110);
}
.row-container {
    display: flex;
    justify-content: center;
    gap:20px;
}

.card {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    text-align: center;
}

.card img {
    width: 250px;
    height: auto;
    margin-bottom: 10x;
}
.row-container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
} 

.blue-yarn, .yellow-yarn, .pink-yarn {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    background-color: white;
}
.yellow-yarn
{
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    background-color: white;
}   
.pink-yarn
{
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    background-color: white;
}   
